<form class="form post-form">
    <div class="form-group mb-3">
        <label for="post-title" class="col-sm-4 col-form-label custom-label">Title:</label>
        <input class="form-input col-sm-6" type="text" id="post-title" value="{{post.title}}" />
    </div>
    <div class="form-group mb-3">
        <label for="post-content" class="col-sm-4 col-form-label custom-label">Text:</label>
        <input class="form-input col-sm-6" type="text" id="post-content" value="{{post.content}}" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary cssbtn" data-id="{{post.id}}" type="submit">Save</button>
    </div>
</form>

<script src="/js/editpost.js"></script>