<form class="form post-form">
    <div class="form-group mb-3">
        <label for="post-title" class="col-sm-4 col-form-label custom-label">Title:</label>
        <input class="form-input col-sm-6" type="text" id="post-title" value="{{post.title}}" autocomplete="off"/>
    </div>
    <div class="form-group mb-3">
        <label for="post-content" class="col-sm-4 col-form-label custom-label">Text:</label>
        <textarea class="form-input col-sm-6" type="text" id="post-content" autocomplete="off">{{post.content}}</textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary cssbtn" id="update-post" data-id="{{post.id}}" type="click">Save</button>
    </div>
    <div class="form-group">
        <button class="btn btn-primary cssbtn" id="delete-post" data-id="{{post.id}}" type="click">Delete</button>
    </div>
</form>

<script src="/js/editpost.js"></script>