{{!-- Existing Blog Posts
Navigation Links for Homepage & Dashboard
Option to log in --}}

<form class="form login-form">
    <div class="form-group mb-3">
        <label for="user-login" class="col-sm-4 col-form-label custom-label">Username:</label>
        <input class="form-input col-sm-6" type="text" id="username-login" />
    </div>
    <div class="form-group mb-3">
        <label for="password-login" class="col-sm-4 col-form-label custom-label">Password:</label>
        <input class="form-input col-sm-6" type="password" id="password-login" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary cssbtn" type="submit">login</button>
    </div>
</form>


<div class="posts">
    <h1>Existing Blog Posts</h1>
</div>