<div class="row mt-3 justify-content-center">
    <div class="block col-md-3">
        <h2>Register</h2>
        <form class="form signup-form">
            <div class="form-group mb-3">
                <label for="name-signup" class="col-sm-4 col-form-label custom-label">Username:</label>
                <input class="form-input col-sm-6" type="text" id="name-signup" />
            </div>
            <div class="form-group mb-3">
                <label for="email-signup" class="col-sm-4 col-form-label custom-label">Email:</label>
                <input class="form-input col-sm-6" type="text" id="email-signup" />
            </div>
            <div class="form-group mb-3">
                <label for="password-signup" class="col-sm-4 col-form-label custom-label">Password:</label>
                <input class="form-input col-sm-6" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary cssbtn" type="submit">signup</button>
            </div>
        </form>
    </div>
    <div class="log-sign">
        <a href="/login">login</a>
    </div>
</div>

<script src="./js/login.js"></script>