

a {
    text-decoration: none;
}

.card {
    background-color: blue;
    color: white;
    border-radius: 25px;
    box-shadow: 10px 10px 5px gray;
    margin: 0 auto;
}

.card-text {
    background-color: white;
    color: black;
}